<div class="card">
    <img [src]="imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card-title">
            <h5>{{ title }}</h5>
            <div class="icon">
                <i class="fa-solid fa-heart mx-2"></i>{{ likes }}
                <i class="fa-solid fa-message mx-2"></i>{{ comments }}
            </div>
        </div>
        <p class="card-text">{{ description }}</p>
        <div class="text-end">
            <a [href]="gitLink" class="btn mx-2" target="_blank">Clone<i class="fa-solid fa-clone mx-2" style="color: #fff;"></i>
            </a>
            <a [href]="browserLink" class="btn" target="_blank">Browse<i class="fa-brands fa-internet-explorer mx-2"
                    style="color: #fff;"></i>
            </a>
        </div>
    </div>
</div>