.card {
    border: 1px solid #1d293a;
    margin: 5px;
    overflow: hidden;
    min-height: min-content;
}

.card-body {
    background: #1b203e;
    color: #fff;
}

.card-title {
    color: #16f2b3;
    display: flex;
    justify-content: space-between;

    :is(i) {
        color: #16f2b3;
    }
}

.card:hover {
    border: 1px solid #464c6a;
}

.card img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.btn {
    background: linear-gradient(31deg, rgba(236, 72, 153, 1) 0%, rgba(117, 0, 251, 1) 97%);
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 500;
    transition: width 0.3s;
}

.btn:hover {
    :is(i) {
        padding: 0px 5px;
    }
}