<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Education</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="experince-img"><iframe src="https://lottie.host/embed/8af45c45-0798-4057-8f17-4675c7b23dd8/ebfPn0ioGk.json"></iframe></div>
            </div>
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(June 2021 - May 2023)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Master Of Computer Application</p>
                            <p>KBC NMU Jalgoan.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(June 2018 - May 2021)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Bachelor of Computer Science</p>
                            <p>VMV Colloge Malkapur.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(June 2016 - Feb 2018)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Higher Secondary Certificate</p>
                            <p>LBC Jr. College Malkapur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>