<div class="main_container">
    <div class="chat-module" [class.open]="isChatOpen">
        <div class="chat-header">
            <img src="assets/images/hero1.png" alt="Profile" class="profile-img" />
            <span class="chat-title">Chat with AI-Bot</span>
            <button class="close-btn" (click)="modelClose()">&times;</button>
        </div>
        <div class="messages">
            <span class="bot-description">Hello! Give me a moment to wake up...</span>
            <span class="bot-description">This AI chatbot showcases my skills and assists with portfolio queries.</span>

            <div *ngFor="let message of messages"
                [ngClass]="{ 'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot' }">
                <div class="message-content">
                    <p [innerHTML]="message.text"></p>
                </div>
            </div>

            <div *ngIf="isTyping" class="bot-message typing-indicator">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="input-container">
            <img *ngIf="isVoiceEnabled" src="assets/images/ai-bots/speaker.svg" class="control-button"
                (click)="toggleVoice()" alt="Mute" title="Mute Voice" />
            <img *ngIf="!isVoiceEnabled" src="assets/images/ai-bots/speaker-off.svg" class="control-button"
                (click)="toggleVoice()" alt="Unmute" title="Unmute Voice" />

            <div class="vertical-line"></div>

            <input type="text" [(ngModel)]="userInput" placeholder="Ask me something..." class="chat-input"
                (keydown.enter)="sendMessage()" />

            <img *ngIf="isListening" src="assets/images/ai-bots/mic.svg" class="control-button mic-button"
                (click)="toggleVoiceInput()" alt="Listening" title="Stop Listening" />
            <img *ngIf="!isListening" src="assets/images/ai-bots/mic-off.svg" class="control-button mic-button"
                (click)="toggleVoiceInput()" alt="Mic Off" title="Start Listening" />

            <img src="assets/images/ai-bots/send.svg" class="control-button send-button" (click)="sendMessage()"
                alt="Send Message" title="Send Message" />
        </div>


    </div>
</div>