.background-container {
    position: relative;
    width: 100%;
    height: auto;
    background: #0d1224;
    color: #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: auto;
    z-index: 1;
}

.pills {
    display: inline-block;
    background: #1A1443;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
}

.line {
    background: #1A1443;
    height: 2px;
    width: 25%;
    margin: -25px auto 0;
}

.card {
    background: #0d1224;
    color: #fff;
    border: 1px solid #312e81;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.card-bg-img {
    position: absolute;
    top: -59%;
    left: 0;
    width: 100%;
}