<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Experience</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <img src="assets/images/experience.svg" alt="">
            </div>
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card text-center my-2">
                    <img src="assets/images/blur-23.svg" alt="" class="card-bg-img">
                    <h5 class="py-3" style="color: #16f2b3;">(Jan 2022 - Present)</h5>
                    <div class="d-flex justify-content-start px-4 ">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="">
                            <p class="text-uppercase p-0">Software Engineer I</p>
                            <p>Teton Private Ltd.</p>
                        </div>
                    </div>
                </div>
                <div class="card text-center my-2">
                    <img src="assets/images/blur-23.svg" alt="" class="card-bg-img">
                    <h5 class="py-3" style="color: #16f2b3;">(Jun 2021 - Jan 2022)</h5>
                    <div class="d-flex justify-content-start px-4 ">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="">
                            <p class="text-uppercase p-0">FullStack Developer</p>
                            <p>Fiverr (freelance)</p>
                        </div>
                    </div>
                </div>
                <div class="card text-center my-2">
                    <img src="assets/images/blur-23.svg" alt="" class="card-bg-img">
                    <h5 class="py-3" style="color: #16f2b3;">(Jan 2018 - Present)</h5>
                    <div class="d-flex justify-content-start px-4 ">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="">
                            <p class="text-uppercase p-0">Self Employed</p>
                            <p>Code and build something in everyday.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>