.chatbot-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.chatbot-header {
  background-color: #1A1443;
  color: white;
  padding: 20px;
  text-align: center;
}

.chatbot-header h1 {
  margin: 0;
  font-size: 24px;
}

.chatbot-header p {
  margin: 5px 0 0;
  font-size: 14px;
}

.chatbot-main {
  padding: 20px;
  text-align: center;
  height: 77vh;
}

.chatbot-main h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.action-buttons button {
  background-color: #1A1443;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-buttons button:hover {
  background-color: #1A1443;
}

.chatbot-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatbot-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.chatbot-footer button {
  background-color: #1A1443;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-footer button:hover {
  background-color: #357abd;
}
