<div class="projects">
    <div class="container">
        <div class="col-sm-12 py-5">
            <div class="blur"></div>
            <span class="pills">Projects</span>
            <div class="line"></div>
        </div>



        <!-- @TODO: Move away from custom props before injecting the polyfill, as it can't handle it -->
        <ul id="cards">
            <li class="card" id="card_1">
                <div class="card__content">
                    <div class="card1">
                        <div class="d-flex">
                            <div
                                style="background-image: linear-gradient(31deg, rgba(49,46,129,1) 0%, rgba(219,39,119,1) 97%); height: .5px; width: 50%; margin-left: 5px; ">
                            </div>
                            <div
                                style="background-image: linear-gradient(31deg, rgba(219,39,119,1) 0%, rgba(49,46,129,1) 97%); height: .5px; width: 50%;">
                            </div>
                            <div style="background-color: #312e81; height: .5px;  width: 50%; margin-right: 5px;"></div>
                        </div>
                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                            </div>


                            <div class="hero-card">
                                <div class="card-body" style="padding: 32px;">
                                    <div><span style="color: #ec4899;">const</span> coder <span
                                            style="color: #ec4899;">=
                                        </span><span style="color: #a8a29e;">{{
                                            '{' }}</span> </div>
                                    <div class="card-content">name: <span style="color: #a8a29e;">'</span><span
                                            style="color: #fcd34d;">Saurabh
                                            Nale</span><span style="color: #a8a29e;">',</span></div>
                                    <div class="card-content">skills: <span style="color: #a8a29e;">['</span><span
                                            style="color: #fcd34d;">React</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">NextJS</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Redux</span><span style="color: #a8a29e;">', '
                                        </span><span style="color: #fcd34d;">Express</span><span
                                            style="color: #a8a29e;">',
                                            '
                                        </span><span style="color: #fcd34d;">NestJS</span><span
                                            style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MySql</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MongoDB</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Docker</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">AWS</span><span style="color: #a8a29e;">'],</span>
                                    </div>

                                    <div class="card-content">hardWorker: <span style="color: #fb923c;">true</span><span
                                            style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">quickLearner: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">problemSolver: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content"><span style="color: #4ade80;">hireable: </span> <span
                                            style="color: #fb923c;">function</span><span style="color: #a8a29e;">{{
                                            '() {' }}</span></div>
                                    <div class="card-content2"><span style="color: #fb923c;">return </span><span
                                            style="color: #a8a29e;">{{
                                            '(' }}</span></div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>hardWorker
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>problemSolver
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>skills.length
                                        <span style="color: #fcd34d;"> >=
                                        </span><span style="color: #fb923c;">5 </span>
                                    </div>
                                    <div class="card-content2"><span style="color: #a8a29e;">{{');' }}</span></div>
                                    <div class="card-content" style="padding-left: 32px;"><span
                                            style="color: #a8a29e;">{{
                                            '};' }}</span> </div>

                                    <div class=""><span style="color: #a8a29e;">{{
                                            '};' }}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card" id="card_2">
                <div class="card__content">

                    <div class="card1">
                        <div class="d-flex">
                            <div
                                style="background-image: linear-gradient(31deg, rgba(49,46,129,1) 0%, rgba(219,39,119,1) 97%); height: .5px; width: 50%; margin-left: 5px; ">
                            </div>
                            <div
                                style="background-image: linear-gradient(31deg, rgba(219,39,119,1) 0%, rgba(49,46,129,1) 97%); height: .5px; width: 50%;">
                            </div>
                            <div style="background-color: #312e81; height: .5px;  width: 50%; margin-right: 5px;"></div>
                        </div>
                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                            </div>


                            <div class="hero-card">
                                <div class="card-body" style="padding: 32px;">
                                    <div><span style="color: #ec4899;">const</span> coder <span
                                            style="color: #ec4899;">=
                                        </span><span style="color: #a8a29e;">{{
                                            '{' }}</span> </div>
                                    <div class="card-content">name: <span style="color: #a8a29e;">'</span><span
                                            style="color: #fcd34d;">Saurabh
                                            Nale</span><span style="color: #a8a29e;">',</span></div>
                                    <div class="card-content">skills: <span style="color: #a8a29e;">['</span><span
                                            style="color: #fcd34d;">React</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">NextJS</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Redux</span><span style="color: #a8a29e;">', '
                                        </span><span style="color: #fcd34d;">Express</span><span
                                            style="color: #a8a29e;">',
                                            '
                                        </span><span style="color: #fcd34d;">NestJS</span><span
                                            style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MySql</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MongoDB</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Docker</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">AWS</span><span style="color: #a8a29e;">'],</span>
                                    </div>

                                    <div class="card-content">hardWorker: <span style="color: #fb923c;">true</span><span
                                            style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">quickLearner: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">problemSolver: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content"><span style="color: #4ade80;">hireable: </span> <span
                                            style="color: #fb923c;">function</span><span style="color: #a8a29e;">{{
                                            '() {' }}</span></div>
                                    <div class="card-content2"><span style="color: #fb923c;">return </span><span
                                            style="color: #a8a29e;">{{
                                            '(' }}</span></div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>hardWorker
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>problemSolver
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>skills.length
                                        <span style="color: #fcd34d;"> >=
                                        </span><span style="color: #fb923c;">5 </span>
                                    </div>
                                    <div class="card-content2"><span style="color: #a8a29e;">{{');' }}</span></div>
                                    <div class="card-content" style="padding-left: 32px;"><span
                                            style="color: #a8a29e;">{{
                                            '};' }}</span> </div>

                                    <div class=""><span style="color: #a8a29e;">{{
                                            '};' }}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card" id="card_3">
                <div class="card__content">

                    <div class="card1">
                        <div class="d-flex">
                            <div
                                style="background-image: linear-gradient(31deg, rgba(49,46,129,1) 0%, rgba(219,39,119,1) 97%); height: .5px; width: 50%; margin-left: 5px; ">
                            </div>
                            <div
                                style="background-image: linear-gradient(31deg, rgba(219,39,119,1) 0%, rgba(49,46,129,1) 97%); height: .5px; width: 50%;">
                            </div>
                            <div style="background-color: #312e81; height: .5px;  width: 50%; margin-right: 5px;"></div>
                        </div>
                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                            </div>


                            <div class="hero-card">
                                <div class="card-body" style="padding: 32px;">
                                    <div><span style="color: #ec4899;">const</span> coder <span
                                            style="color: #ec4899;">=
                                        </span><span style="color: #a8a29e;">{{
                                            '{' }}</span> </div>
                                    <div class="card-content">name: <span style="color: #a8a29e;">'</span><span
                                            style="color: #fcd34d;">Saurabh
                                            Nale</span><span style="color: #a8a29e;">',</span></div>
                                    <div class="card-content">skills: <span style="color: #a8a29e;">['</span><span
                                            style="color: #fcd34d;">React</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">NextJS</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Redux</span><span style="color: #a8a29e;">', '
                                        </span><span style="color: #fcd34d;">Express</span><span
                                            style="color: #a8a29e;">',
                                            '
                                        </span><span style="color: #fcd34d;">NestJS</span><span
                                            style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MySql</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MongoDB</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Docker</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">AWS</span><span style="color: #a8a29e;">'],</span>
                                    </div>

                                    <div class="card-content">hardWorker: <span style="color: #fb923c;">true</span><span
                                            style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">quickLearner: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">problemSolver: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content"><span style="color: #4ade80;">hireable: </span> <span
                                            style="color: #fb923c;">function</span><span style="color: #a8a29e;">{{
                                            '() {' }}</span></div>
                                    <div class="card-content2"><span style="color: #fb923c;">return </span><span
                                            style="color: #a8a29e;">{{
                                            '(' }}</span></div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>hardWorker
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>problemSolver
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>skills.length
                                        <span style="color: #fcd34d;"> >=
                                        </span><span style="color: #fb923c;">5 </span>
                                    </div>
                                    <div class="card-content2"><span style="color: #a8a29e;">{{');' }}</span></div>
                                    <div class="card-content" style="padding-left: 32px;"><span
                                            style="color: #a8a29e;">{{
                                            '};' }}</span> </div>

                                    <div class=""><span style="color: #a8a29e;">{{
                                            '};' }}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="card" id="card_4">
                <div class="card__content">
                    <div class="card1">
                        <div class="d-flex">
                            <div
                                style="background-image: linear-gradient(31deg, rgba(49,46,129,1) 0%, rgba(219,39,119,1) 97%); height: .5px; width: 50%; margin-left: 5px; ">
                            </div>
                            <div
                                style="background-image: linear-gradient(31deg, rgba(219,39,119,1) 0%, rgba(49,46,129,1) 97%); height: .5px; width: 50%;">
                            </div>
                            <div style="background-color: #312e81; height: .5px;  width: 50%; margin-right: 5px;"></div>
                        </div>
                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                            </div>


                            <div class="hero-card">
                                <div class="card-body" style="padding: 32px;">
                                    <div><span style="color: #ec4899;">const</span> coder <span
                                            style="color: #ec4899;">=
                                        </span><span style="color: #a8a29e;">{{
                                            '{' }}</span> </div>
                                    <div class="card-content">name: <span style="color: #a8a29e;">'</span><span
                                            style="color: #fcd34d;">Saurabh
                                            Nale</span><span style="color: #a8a29e;">',</span></div>
                                    <div class="card-content">skills: <span style="color: #a8a29e;">['</span><span
                                            style="color: #fcd34d;">React</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">NextJS</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Redux</span><span style="color: #a8a29e;">', '
                                        </span><span style="color: #fcd34d;">Express</span><span
                                            style="color: #a8a29e;">',
                                            '
                                        </span><span style="color: #fcd34d;">NestJS</span><span
                                            style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MySql</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">MongoDB</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">Docker</span><span style="color: #a8a29e;">',
                                            '</span>
                                        <span style="color: #fcd34d;">AWS</span><span style="color: #a8a29e;">'],</span>
                                    </div>

                                    <div class="card-content">hardWorker: <span style="color: #fb923c;">true</span><span
                                            style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">quickLearner: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content">problemSolver: <span
                                            style="color: #fb923c;">true</span><span style="color: #a8a29e;">,</span>
                                    </div>
                                    <div class="card-content"><span style="color: #4ade80;">hireable: </span> <span
                                            style="color: #fb923c;">function</span><span style="color: #a8a29e;">{{
                                            '() {' }}</span></div>
                                    <div class="card-content2"><span style="color: #fb923c;">return </span><span
                                            style="color: #a8a29e;">{{
                                            '(' }}</span></div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>hardWorker
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>problemSolver
                                        <span style="color: #fcd34d;">&&</span>
                                    </div>
                                    <div class="card-content3"><span style="color: #22d3ee;">this.</span>skills.length
                                        <span style="color: #fcd34d;"> >=
                                        </span><span style="color: #fb923c;">5 </span>
                                    </div>
                                    <div class="card-content2"><span style="color: #a8a29e;">{{');' }}</span></div>
                                    <div class="card-content" style="padding-left: 32px;"><span
                                            style="color: #a8a29e;">{{
                                            '};' }}</span> </div>

                                    <div class=""><span style="color: #a8a29e;">{{
                                            '};' }}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>