<div class="projects">
    <div class="container py-5">


        <ul id="cards">
            <div class="py-5">
                <div class="blur"></div>
                <span class="pills">Projects</span>
                <div class="line"></div>
            </div>
            <li class="scroll_card" id="card_1" style="top: 0px">
                <div class="card__content">
                    <div class="card">
                        <div class="d-flex">
                            <div class="gradient-bar1"></div>
                            <div class="gradient-bar2"></div>
                            <div class="solid-bar"></div>
                        </div>

                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                                <div class="title">
                                    <span>AI Powered Financial App</span>
                                </div>
                            </div>


                            <div class="hero-card">
                                <div class="card-body">
                                    <div><span class="keyword">const</span> project = <span class="special-char">{{ '{'
                                            }}</span></div>

                                    <div class="card-content">name:<span class="special-char">'</span><span
                                            class="highlight">AI Powered Financial App</span><span
                                            class="special-char">',</span></div>
                                    <div class="card-content">tools:
                                        <span class="special-char">['</span><span class="highlight">Express</span>
                                        <span class="special-char">', '</span><span class="highlight">MongoDB</span>
                                        <span class="special-char">', '</span><span class="highlight">OpenAI API</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS SES</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS S3</span>
                                        <span class="special-char">', '</span><span class="highlight">Node Mailer</span>
                                        <span class="special-char">', '</span><span class="highlight">Joi</span>
                                        <span class="special-char">', '</span><span class="highlight">Puppeteer</span>
                                        <span class="special-char">', '</span><span class="highlight">Nginx</span>
                                        <span class="special-char">'],</span>
                                    </div>
                                    <div class="card-content">myRole: <span class="boolean">Backend
                                            Developer</span><span class="special-char">,</span></div>
                                    <div class="card-content">Description: <span class="description"><span
                                                class="special-char">'</span>Me and my team built an AI-powered
                                            financial mobile application. I have developed API using Express,
                                            Typescript, OpenAI,
                                            AWS, and MongoDB. Used OTP via AWS SES, Google, and Facebook for the
                                            authentication system. Built AI assistants using
                                            OpenAI's latest model and trained using our dataset. Voice messages are
                                            converted to text using AWS Transcribe. The app
                                            fetches data from Google Sheets and generates a PDF term sheet, sent via AWS
                                            SES.</span><span class="special-char">',</span>
                                    </div>
                                    <div><span class="keyword"></span><span class="special-char">{{ '};' }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="scroll_card" id="card_2" style="top: 68px">
                <div class="card__content">

                    <div class="card">
                        <div class="d-flex">
                            <div class="gradient-bar1" style="height: 1px;"></div>
                            <div class="gradient-bar2" style="height: 1px;"></div>
                            <div class="solid-bar"></div>
                        </div>

                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                                <div class="title">
                                    <span>Travel Agency App</span>
                                </div>
                            </div>


                            <div class="hero-card">
                                <div class="card-body">
                                    <div><span class="keyword">const</span> project = <span class="special-char">{{ '{'
                                            }}</span></div>

                                    <div class="card-content">name:<span class="special-char">'</span><span
                                            class="highlight">Travel Agency App</span><span
                                            class="special-char">',</span></div>
                                    <div class="card-content">tools:
                                        <span class="special-char">['</span><span class="highlight">Express</span>
                                        <span class="special-char">', '</span><span class="highlight">MongoDB</span>
                                        <span class="special-char">', '</span><span class="highlight">OpenAI API</span>
                                        <span class="special-char">', '</span><span class="highlight">Tailwind
                                            CSS</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS S3</span>
                                        <span class="special-char">', '</span><span class="highlight">Node Mailer</span>
                                        <span class="special-char">', '</span><span class="highlight">Joi</span>
                                        <span class="special-char">', '</span><span class="highlight">Puppeteer</span>
                                        <span class="special-char">', '</span><span class="highlight">Nginx</span>
                                        <span class="special-char">'],</span>
                                    </div>
                                    <div class="card-content">myRole: <span class="boolean">Full Stack
                                            Developer</span><span class="special-char">,</span></div>
                                    <div class="card-content">Description: <span class="description"><span
                                                class="special-char">'</span>I have designed and developed a full-stack
                                            web app for 2Expedition, a travel agency in Armenia. I created the UI using
                                            NextJS, Typescript, MUI, TailwindCSS, Google Maps, Sun-Editor, and React
                                            Slick. The app supports multiple languages and
                                            currencies. I developed the API using NestJS, Typescript, MySQL, TypeORM,
                                            AWS, and Nodemailer. I deployed the front-end
                                            app to AWS Amplify and the back-end app to AWS EC2.</span><span
                                            class="special-char">',</span>
                                    </div>
                                    <div><span class="keyword"></span><span class="special-char">{{ '};' }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="scroll_card" id="card_3" style="top: 136px">
                <div class="card__content">

                    <div class="card">
                        <div class="d-flex">
                            <div class="gradient-bar1" style="height: 1px;"></div>
                            <div class="gradient-bar2" style="height: 1px;"></div>
                            <div class="solid-bar"></div>
                        </div>

                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                                <div class="title">
                                    <span>AI Powered Real Estate</span>
                                </div>
                            </div>


                            <div class="hero-card">
                                <div class="card-body">
                                    <div><span class="keyword">const</span> project = <span class="special-char">{{ '{'
                                            }}</span></div>

                                    <div class="card-content">name:<span class="special-char">'</span><span
                                            class="highlight">AI Powered Real Estate</span><span
                                            class="special-char">',</span></div>
                                    <div class="card-content">tools:
                                        <span class="special-char">['</span><span class="highlight">Express</span>
                                        <span class="special-char">', '</span><span class="highlight">MongoDB</span>
                                        <span class="special-char">', '</span><span class="highlight">OpenAI API</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS SES</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS S3</span>
                                        <span class="special-char">', '</span><span class="highlight">Node Mailer</span>
                                        <span class="special-char">', '</span><span class="highlight">Joi</span>
                                        <span class="special-char">', '</span><span class="highlight">Puppeteer</span>
                                        <span class="special-char">', '</span><span class="highlight">Nginx</span>
                                        <span class="special-char">'],</span>
                                    </div>
                                    <div class="card-content">myRole: <span class="boolean">Backend
                                            Developer</span><span class="special-char">,</span></div>
                                    <div class="card-content">Description: <span class="description"><span
                                                class="special-char">'</span>My team built an AI-based real estate app
                                            using Replicate API and OpenAI. We used Express, Typescript, OpenAI,
                                            Replicate, Stripe, and Mongoose to develop the API. We utilized NextJS,
                                            Formik, TailwindCSS, and other npm libraries for
                                            the UI. We have trained multiple AI assistants using the latest GPT model
                                            and integrated Replicate API for image
                                            processing. We added role-based auth, subscription plans, Cron job
                                            scheduling, and payment integration with Stripe.</span><span
                                            class="special-char">',</span>
                                    </div>
                                    <div><span class="keyword"></span><span class="special-char">{{ '};' }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="scroll_card" id="card_4" style="top: 204px">
                <div class="card__content">
                    <div class="card">
                        <div class="d-flex">
                            <div class="gradient-bar1" style="height: 1px;"></div>
                            <div class="gradient-bar2" style="height: 1px;"></div>
                            <div class="solid-bar"></div>
                        </div>

                        <div class="custom-border">
                            <div class="circle">
                                <span class="badge1 mx-1" style="background: #f87171;"></span>
                                <span class="badge1 mx-1" style="background: #fb923c;"></span>
                                <span class="badge1 mx-1" style="background: #bbf7d0;"></span>
                                <div class="title">
                                    <span>Newsroom Management</span>
                                </div>
                            </div>


                            <div class="hero-card">
                                <div class="card-body">
                                    <div><span class="keyword">const</span> project = <span class="special-char">{{ '{'
                                            }}</span></div>

                                    <div class="card-content">name:<span class="special-char">'</span><span
                                            class="highlight">Newsroom Management</span><span
                                            class="special-char">',</span></div>
                                    <div class="card-content">tools:
                                        <span class="special-char">['</span><span class="highlight">Express</span>
                                        <span class="special-char">', '</span><span class="highlight">MongoDB</span>
                                        <span class="special-char">', '</span><span class="highlight">OpenAI API</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS SES</span>
                                        <span class="special-char">', '</span><span class="highlight">AWS S3</span>
                                        <span class="special-char">', '</span><span class="highlight">Node Mailer</span>
                                        <span class="special-char">', '</span><span class="highlight">Joi</span>
                                        <span class="special-char">', '</span><span class="highlight">Puppeteer</span>
                                        <span class="special-char">', '</span><span class="highlight">Nginx</span>
                                        <span class="special-char">'],</span>
                                    </div>
                                    <div class="card-content">myRole: <span class="boolean">Full Stack
                                            Developer</span><span class="special-char">,</span></div>
                                    <div class="card-content">Description: <span class="description"><span
                                                class="special-char">'</span>My team and I developed a newspaper
                                            management dashboard application called Newsroom Management. As a front-end
                                            developer, I worked on creating the dashboard using NextJS, Material UI,
                                            Redux, Calendar, and other necessary npm
                                            libraries. We used React Redux to manage the application's state and
                                            React-hook-form and Sun Editor to handle forms.</span><span
                                            class="special-char">',</span>
                                    </div>
                                    <div><span class="keyword"></span><span class="special-char">{{ '};' }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>