<div class="background-container">
    <div class="nav">
        <div class="container navbar">
            <a class="nav-heading">SAURABH NALE</a>
            <div class="nav-toggle" (click)="toggleNav()"><i class="fa-solid fa-bars fa-2xl"
                    style="color: #ffffff;"></i></div>
            <ul class="nav-links" [class.open]="isNavOpen">
                <li (click)="closeNav()" class="text-end"><i class="fa-solid fa-xmark fa-2xl"
                        style="color: #ffffff;"></i></li>
                <li class=""><a href="#home" (click)="closeNav()">ABOUT</a></li>
                <li class=""><a href="#experience" (click)="closeNav()">EXPERIENCE</a></li>
                <li class=""><a href="#skills" (click)="closeNav()">SKILLS</a></li>
                <li class=""><a href="#education" (click)="closeNav()">EDUCATION</a></li>
                <li class=""><a href="#project" (click)="closeNav()">PROJECTS</a></li>
                <li class=""><a href="#contact" (click)="closeNav()">CONTACT US</a></li>
            </ul>
            <ul class="horizontal-nav">
                <li class=""><a href="#home" class="">ABOUT</a></li>
                <li class=""><a href="#experience" class="">EXPERIENCE</a></li>
                <li class=""><a href="#skills" class="">SKILLS</a></li>
                <li class=""><a href="#education" class="">EDUCATION</a></li>
                <li class=""><a href="#project" class="">PROJECTS</a></li>
                <li class=""><a href="#contact" class="">CONTACT US</a></li>
            </ul>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1">
                    <div class="hero-section my-lg-5">
                        <h1>
                            Hello,<br>
                            This is <span style="color: #ec4899;">SAURABH NALE</span>, I'm a
                            Professional <span style="color: #16f2b3;">Software Developer</span>.
                        </h1>
                        <div class="social-icon py-5">
                            <a href="https://github.com/saurabhnalepatil" class="mx-2"><img
                                    src="assets/images/icon/pink-git.svg" alt=""></a>
                            <a href="https://www.linkedin.com/in/saurabh-nale-967472216/" class="mx-2"><img
                                    src="assets/images/icon/pink-linkdin.svg" alt=""></a>
                            <a href="" class="mx-2"><img src="assets/images/icon/pink-fb.svg" alt=""></a>
                            <a href="" class="mx-2"><img src="assets/images/icon/pink-x.svg" alt=""></a>
                            <a href="" class="mx-2"> <img src="assets/images/icon/pink-twitter.svg" alt=""></a>
                        </div>
                        <div class="hero-button py-3">
                            <a href="#contact" class="mx-2">
                                <button class="btn py-3"> CONTACT US
                                    <img src="assets/images/icon/user.svg" alt="" class="mb-1">
                                </button>
                            </a>
                            <a href="" class="mx-2">
                                <button class="btn2 py-3" (click)="downloadResume()">GET RESUME
                                    <img src="assets/images/icon/download.svg" alt="">
                                </button>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2">
                    <app-hero-card [coderName]="'Saurabh Nale'"
                        [skills]="['Angular', 'Python', 'Flask', '.Net Core', 'SQL', 'No-SQL', 'Azure', 
                        'Azure Function', 'TypeScript', 'Bootstrap', 'HTML', 'CSS', 'Git/Github', 'Postman', ]">
                    </app-hero-card>
                </div>
            </div>
            <div class="about py-3">
                <div class="row text-center py-2">
                    <div class="col-sm-12">
                        <div class="blur"></div>
                        <span class="pills">About US</span>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 fs-5 order-2 order-md-1">
                        <h3 class="py-3 m-0" style="color: #16f2b3;">WHO I AM?</h3>
                        <p> I am an IT professional with 1.8 years of experience in Python development, serverless architecture, and cloud services.
                        I specialize in developing efficient and scalable applications.
                        
                        I developed an AI-Based Essay Grading System using Azure Functions and SQL Server, focusing on optimizing service
                        components to address manual grading challenges. Additionally, I worked on an Angular and .NET assessment portal,
                        creating various question types and features like dashboards, data filters, and SMTP-based assessment invitations.
                        
                        My experience spans both frontend and backend development, cloud services, and serverless computing, making me
                        well-equipped for diverse development roles.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center order-1 order-md-2">
                        <img src="assets/images/hero1.png" alt="" class="img-fluid w-75 py-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" id="experience"><app-experiences></app-experiences></div>
<div class="" id="skills"><app-skills></app-skills></div>
<div class="" id="project"> <app-projects></app-projects></div>
<div class="" id="education"> <app-educations></app-educations></div>
<div class="" id="works"><app-my-works></app-my-works></div>
<div class="" id="contact"><app-contactus></app-contactus> </div>

<app-practice></app-practice>