.section {
    background: #0d1224;
    color: #fff;
}

.pills {
    display: inline-block;
    background: #1A1443;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
}

.line {
    background: #1A1443;
    height: 2px;
    width: 40%;
    margin: -25px auto 0;
}

.blur {
    width: 6vw;
    height: 6vw;
    background-color: #E9D8FD;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(6vw);
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width:767.98px) {
    .blur {
        width: 60vw;
        filter: blur(20vw);
    }

    .line {
        width: 80%;
    }
}