.card {
    width: 55%;
    background: linear-gradient(to bottom right, #0d1224, #0a0d37);
    color: #fff;
    border: 1px solid #1b2c68a0;
    box-shadow: 10px 15px 20px #080c19a0;
}
.scroll_card {
    background-color: transparent;
    position: sticky;
    /* top: 0; */
    /* padding-top: calc(var(--index) * var(--card-top-offset)); */
    list-style-type: none;
    margin: 10px;
}
.card__content {
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hero-card {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    border: 1px solid #1b2c68a0;

    .card-content {
        padding-left: 32px;
    }

    .card-content2 {
        padding-left: 64px;
    }

    .card-content3 {
        padding-left: 96px;
    }
}

.badge1 {
    height: 12px;
    width: 12px;
    border-radius: 5px;
}

.circle {
    display: flex;
    align-items: center;
    padding: 18px 32px;
    border-bottom: 1px solid #312e81;

    .title {
        font-size: 20px;
        color: #16f2b3;
    }
}

.gradient {
    display: flex;
}

.gradient-bar1 {
    margin-left: 5px;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(31deg, rgba(49, 46, 129, 1) 0%, rgba(219, 39, 119, 1) 97%);
}

.gradient-bar2 {
    height: 1px;
    width: 50%;
    background-image: linear-gradient(31deg, rgba(219, 39, 119, 1) 0%, rgba(49, 46, 129, 1) 97%);
}

.solid-bar {
    background-color: #312e81;
    height: 0.5px;
    width: 50%;
}

.card-body {
    padding: 20px;
}

.keyword {
    color: #ec4899;
}

.highlight {
    color: #fcd34d;
}

.boolean {
    color: #fb923c;
}

.function {
    color: #fb923c;
    font-style: italic;
}

.description {
    color: #22d3EE;
}

.special-char {
    color: #9ca3af;
}

@media (min-width: 320px) and (max-width:767.98px) {
    .cards {
        padding: 0;
        margin: 0;
    }

    .card {
        width: 100%;
        font-size: 14px;
    }

    .circle {
        padding: 22px 16px;

        .title {
            font-size: 16px;
        }
    }

}


@media (min-width:768px) and (max-width: 1199.98px) {
    .card {
        width: 65%;
        font-size: 14px;
    }
}