.background-container {
    position: relative;
    width: 100%;
    height: auto;
    background: #0d1224;
    color: #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: auto;
    z-index: 1;
}

.pills {
    display: inline-block;
    background: #1A1443;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
}

.line {
    background: #1A1443;
    height: 2px;
    width: 25%;
    margin: -25px auto 0;
}
.experince-img iframe {
    width: 100%;
    height: 400px;
}

.card {
    background: #0d1224;
    color: #fff;
    border: 1px solid #2a2e5a;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 15px 10px;
    cursor: pointer;
    background-image: url('/src/assets/images/blur-23.svg');
    background-size: cover;
    background-position: bottom;
}

.card:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.card:active {
    color: #0d1224;
}

.card:active:after {
    background: transparent;
}

.card:hover:before {
    opacity: 1;
}

.card:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0d1224;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-image: url('src/assets/images/blur-23.svg');
    background-size: cover;
    background-position: bottom;
}

.company-name {
    font-size: 14px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card_heading {
    display: grid;
    place-items: center;
    color: #16f2b3;
    padding: 16px;
}

.card_content {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.content {
    margin-left: 30px;

    :is(p) {
        margin: 5px;
    }
}

@media (min-width: 320px) and (max-width:767.98px) {
    .background-image {
        width: 100%;
    }

    .line {
        width: 100%;
    }

    .card {
        font-size: 14px;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .card {
        font-size: 14px;
    }


    .experince-img {
        margin: 50px 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {}