<div class="contactus py-5">
    <div class="container">
        <div
            style="background-image: radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(13,18,36,1) 100%); height: 2px;">
        </div>

        <div class="row text-center py-5">
            <div class="col-sm-12">
                <div class="blur"></div>
                <span class="pills">Contact Us</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <h4 style="color: #16F2B3;">CONTACT WITH ME</h4>
            <div class="col-sm-12 col-md-12 col-lg-6 p-md-5">
                <div class="contact-form p-4">
                    <p>If you have any questions or concerns, please don't hesitate to contact me. I am open to any
                        work opportunities
                        that
                        align with my skills and interests.</p>
                    <div class="col-sm-12">
                        <form #contactForm="ngForm" (ngSubmit)="send()" novalidate>
                            <div class="mb-2">
                                <label for="name">Your Name:</label>
                                <input type="text" class="form-control p-3" placeholder="" id="name" name="name" [(ngModel)]="formData.name"
                                    required>
                            </div>
                            <div class="mb-2">
                                <label for="email">Your Email: </label>
                                <input type="email" class="form-control p-3" placeholder="" id="email" name="email"
                                    [(ngModel)]="formData.email" required>
                            </div>
                            <div class="mb-2">
                                <label for="message">Your Message:</label>
                                <textarea class="form-control p-3" placeholder="" style="height: 120px;" id="message" name="message"
                                    [(ngModel)]="formData.message" required></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn py-3">SEND MESSAGE <img src="assets/images/icon/message.svg"
                                        alt=""></button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 p-md-5">
                <div class="contact-img"><iframe src="https://lottie.host/embed/4f7f55bf-4eca-4bfa-b2aa-b74afa276807/0JW0WQr8rw.json"></iframe></div>
                <div class="details">
                    <div class="email">
                        <img src="assets/images/icon/mail.svg" alt="" class="img-fluid">
                        <span>saurabhnalepatil@gmail.com</span>
                    </div>
                    <div class="phone">
                        <img src="assets/images/icon/phone.svg" alt="" class="img-fluid">
                        <span>+91 95117487..</span>
                    </div>
                    <div class="address">
                        <img src="assets/images/icon/map.svg" alt="" class="img-fluid">
                        <span>A1 Tower, Pyramid County, Pansare colony,<br> Bhukum, Mulshi 441521</span>
                    </div>
                    <div class="social-icon text-center">
                        <a href="https://github.com/saurabhnalepatil"> <img src="assets/images/icon/git.svg" alt=""
                                class="img-fluid"></a>
                        <a href="https://www.linkedin.com/in/saurabh-nale-967472216/"> <img
                                src="assets/images/icon/linkdin.svg" alt="" class="img-fluid"></a>
                        <a href=""> <img src="assets/images/icon/x.svg" alt="" class="img-fluid"></a>
                        <a href=""> <img src="assets/images/icon/wifi.svg" alt="" class="img-fluid"></a>
                        <a href=""> <img src="assets/images/icon/fb.svg" alt="" class="img-fluid"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div
            style="background-image: radial-gradient(circle, rgba(139,92,246,1) 0%, rgba(13,18,36,1) 100%); height: 2px;">
        </div>
        <div class="footer">
            <div class="row py-3">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="devloper-details">
                        <div style="font-size: smaller; color: rgb(182, 182, 182);">
                            <i class="fas fa-paint-brush"></i> 𝔻𝕖𝕤𝕚𝕘𝕟𝕖𝕕 & <i class="fas fa-laptop-code"></i>
                            𝔻𝕖𝕧𝕖𝕝𝕠𝕡𝕖𝕕 by <a href="https://www.linkedin.com/in/saurabh-nale-967472216/"><span>
                                    Saurabh Nale</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="git">
                        <a href="https://github.com/saurabhnalepatil/portfolio">
                            <div><img src="assets/images/icon/star.svg" alt="" class="img-fluid">
                                <p>STAR</p>
                            </div>
                        </a>
                        <a href="https://github.com/">
                            <div><img src="assets/images/icon/fark.svg" alt="" class="img-fluid">
                                <p>FARK</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>