<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Education</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="experince-img"><img src="assets/images/exp-img.png" alt="" class="w-75"></div>
            </div>
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card">
                    <img src="assets/images/blur-23.png" alt="" class="card-bg-img">
                    <div class="card_heading">
                        <h5>(Jan 2022 - Present)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Software Engineer I</p>
                            <p>Teton Private Ltd.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/blur-23.png" alt="" class="card-bg-img">
                    <div class="card_heading">
                        <h5>(Jun 2018 - may 2021)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">FullStack Developer</p>
                            <p>Fiverr (freelance)</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/blur-23.png" alt="" class="card-bg-img">
                    <div class="card_heading">
                        <h5>(June 2016 - feb 2018)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Self Employed</p>
                            <p>Code and build something in everyday.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>